src/main/mule/test-cicd-tes-nov-14.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="247ce745-d807-4d54-ae9e-d9a3f06a3017" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-cicd-tes-nov-14Flow" doc:id="cca3e54c-0e12-4d0a-8f18-1ddd0f8ad998" >
		<http:listener doc:name="Listener" doc:id="1dec87e2-0e1f-47a3-aa9d-d77f5371e712" config-ref="HTTP_Listener_config" path="/cicd-test14"/>
		<set-payload value='#["It is a very good day"]' doc:name="Set Payload" doc:id="02acdfb3-9245-479b-bd77-31efe73a03d1" />
		<logger level="INFO" doc:name="Logger" doc:id="1235a703-4375-4f5a-88bd-e7d160ba7a15" message="#[payload]"/>
	</flow>
</mule>
